html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}
  
a {
    color: inherit;
    text-decoration: none;
}
  
img {
    max-width: 100%;
}
  
body {
    font-family: 'font', sans-serif;
}

/* Footer */

.footer {
    padding: 42px 0;
}

.footer-container {
    align-items: center;
    justify-content: space-between;
}

.footer-left,
.footer-right {
    align-items: center;
}

.footer-logo {
    margin-right: 25px;
}

.footer-copy {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #787878;
}

.footer-link {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #787878;
}

.footer-item:not(:last-child) {
    margin-right: 28px;
}

.footer-nav {
    margin-right: 56px;
}

.social-item {
    align-items: center;
}

.social-item:not(:last-child) {
    margin-right: 32px;
}
